

<!--Bootstrap-->

  <body id="page-top" class="bg-light">

   
      <!---->
      <div class="container">
   
 <!-- Portfolio Grid TOP REVELACIONES-->
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="title-orange">Top Revelaciones</div>
                  </div> 
                 </div>
                 

                      <!--Carousel--->

                    <div id="myCarouselCustom" class="carousel slide border" data-ride="carousel">
                      
                      <ol class="carousel-indicators">
                        <li data-target="#myCarouselCustom" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarouselCustom" data-slide-to="1"></li>
                        <li data-target="#myCarouselCustom" data-slide-to="2"></li>
                      </ol>
                      </br>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          
                          <div class="bg-orange row">
                              <div class="space col-orange col w-75">
                                
                                <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                                <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                               
                               
                              </div>
                              <div class="space col-orange col w-75">
                             
                                    <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                                    <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                                 
                              </div>
                              <div class="space col-orange col w-75">
                               
                                    <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide"> 
                                    <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                               
                              </div>
                        </div>
                          
                        </div>

                        <div class="carousel-item">

                            <div class="bg-orange row">
                              <div class="space col-orange col w-75">
                                
                                <img class="d-block space-image col-orange w-75" src="./img/duki.jfif" alt="Second slide">  
                                <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                               
                              </div>
                              
                              <div class="space col-orange col w-75">
                                
                                  <img class="d-block space-image col-orange w-75" src="./img/duki.jfif" alt="Second slide"> 
                                  <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                                
                              </div>
                              
                              <div class="space col-orange col w-75">
                                
                                  <img class="d-block space-image col-orange w-75" src="./img/duki.jfif" alt="Second slide"> 
                                  <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                                
                              </div>
                            
                            </div>
                        </div>

                         <div class="carousel-item">
                          
                          <div class="bg-orange row">
                              <div class="space col-orange col w-75">
                               
                                <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="Third slide">  
                                <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                                
                            </div>
                            <div class="space col-orange col w-75">
                             
                                <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="Third slide">  
                                <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                                
                            </div>
                            <div class="space col-orange col w-75">
                              
                                <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="Third slide">  
                                <div class="row">
                                  <div class="col"> <button type="button" class="btn btn-primary">Subscripcion</button></div><div class="col"><div class="col"></div></div>
                                </div>
                              
                            </div>
                          </div>
                          
                        </div>
                      
                      </div>
                      
                      <a class="carousel-control-prev" href="#myCarouselCustom" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                      <a class="carousel-control-next" href="#myCarouselCustom" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                       </br></br>
                    </div>

  <!---Lista de artistas.--->
                  <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="title-orange">Tus Artistas</div>
                  </div> 
                  </div>
                   <!--RowList--->
      
                    <div class="rowlist border">
                      
                      <div class="rowlist">
                       
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">
                            {{#each user1}}{{this.name}}{{/each}}  
                            </div>
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                            {{#each user2}}{{this.name}}{{/each}}  
                            </div>
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                             {{#each user3}}{{this.name}}{{/each}}
                            </div>
                      </div>
                          <div class="rowlist">
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                            </div>
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                            </div>
                            <div class="col w-75">
                            <img class="d-block space-image col-orange w-75" src="./img/anuel.jpg" alt="First slide">  
                            </div>
                          </div>
                    </div>

                


                    
      </div>




          
  </body>

