<!DOCTYPE html>
<html lang="en">

<body id="page-top" class="bg-light">

      <div class="container d-flex align-items-center flex-column" >
        

          <div class="col-md-4 mx-auto">
            <div class="card-header">
              <h4>Editar perfil</h4> 
            </div>
           
            <div class="card-body">
            
                  <div class="form-group">
                     <h5>Nombre de usuario</h5>
                    <input type="text" class="form-control" name="name" placeholder="Name" value="{{#each userdata}}{{this.name}}{{/each}}">  
                  </div>
            
                   
                    <div class="form-group">
                      <h5>Nombre artistico</h5>
                    <input type="text" class="form-control" name="name" placeholder="Name" value="Nombre publico">
                  </div>

                   <div class="form-group">
                      <h5>Biografia</h5>
                    <input type="textbox" class="form-control" name="name" placeholder="Cuentanos sobre ti" value="Biografia">
                  </div>
                  
                  <h5>Estilo musical</h5>
                  <div class="form-check">                  
                    <input type="checkbox" class="form-check-input" id="pop">
                    <label class="form-check-label" for="same-address">Pop</label>
                  </div>
            
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rock">
                    <label class="form-check-label" for="same-address">Rock</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hiphop">
                    <label class="form-check-label" for="same-address">Hip-Hop</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="trap">
                    <label class="form-check-label" for="same-address">Trap</label>
                  </div>
            <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="clasica">
                  <label class="form-check-label" for="same-address">Musica Clasica</label>
            </div>
                        
           
            </div>
            
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
                  </div>
                  
                

                  </form>
            </div>
            
          </div>

        </div>
       